/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    margin-top: -44px;
    list-style-type: none;
    padding: 0;
    margin-left: 744px;

}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #000000;
    text-decoration: auto;
    font-family: "Marcellus", serif;
    font-weight: 500;
    font-style: normal;
    display: inline;
    margin-left: 59px;
    font-size: 25px;
}

.more_img {
    width: 42%;
    display: block;
    margin: 0 auto;
}

.more_img2 {
    margin-top: -530px;
    width: 25%;
    display: block;
    margin-right: 10px;
}

.more_img3 {
    position: relative;
    top: -1750px;
    right: -260px;
    width: 10%;
    display: block;
    margin-right: 10px;
}

.more_img4 {
    position: relative;
    top: -1816px;
    width: 25%;
    left: 981px;
    display: block;
}

.sakura {
    margin-top: -1402px;
    width: 20%;
    display: block;
    margin-left: 1300px;
}

.textSakura {
    margin-top: -1050px;
    width: 30%;
    display: block;
    margin-left: 875px;
}

.textsak {
    margin-top: 300px;
    width: 35%;
    display: block;
    margin-left: 590px;
}

.food {
    margin-top: 21px;
    width: 15%;
    display: block;
    margin-left: 590px;
    text-decoration: auto;
    font-family: "Marcellus", serif;
    font-weight: 500;
}

.drink {
    margin-top: -400px;
    width: 15%;
    display: block;
    margin-left: 902px;
    text-decoration: auto;
}

.food-text {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-right: 400px;
    font-family: "Marcellus", serif;
    font-weight: 500;
}

.drink-text {
    margin-top: 30px; 
    display: block; 
    text-align: center;
    font-weight: bold;
    margin-right: -230px;
    font-family: "Marcellus", serif;
    font-weight: 500;
}

.Menu{
    margin-top: 150px;
    width: 25%;
    display: block;
    margin-left: 100px;
}

.Japan{
    margin-top: 150px;
    width: 33%;
    display: block;
    margin-left: 100px;
}

.text2 {
    margin-top: -602px;
    width: 30%;
    display: block;
    margin-left: 750px;
}

.Jiro {
    margin-top: -450px;
    width: 15%;
    display: block;
    margin-left: 1350px;
}
 
.text4{
    margin-top: 100px;
    width: 30%;
    display: block;
    margin-left: 1080px;
}

#hero h2 {
    margin: 0;
}

#about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
